---
import Layout from '../layouts/Layout.astro'
import Countdown from '../components/SmallCountdown.astro'
import FTSLogo from '../components/FTSLogo.astro'
import FTSLoading from '../components/FTSLoading.astro'
import Form from '../components/Form.astro'
import FancyBackground from '../components/FancyBackground.astro'
import SectionCard from '../components/SectionCard.astro'
import Footer from '../components/Footer.astro'
import Carousel from '../components/Carousel.astro'
---

<Layout title="Evento - Formação TS">
  <main>
    <FTSLoading />
    <section id="hero-section">
      <FancyBackground>
        <div class="content">
          <div class="logo">
            <FTSLogo scale="4x" id="fts-logo" />
          </div>
          <h1 class="copy font-subtitle-alt">Seja mestre na tecnologia mais importante do momento!</h1>
          <h2 class="sub-copy">
            O treinamento que não vai apenas te ensinar profundamente <strong>TypeScript</strong>, mas também te
            preparar para os desafios reais do mercado.
          </h2>
          <h2 class="sub-copy">Garanta sua vaga antes que seja tarde!</h2>
          <Countdown />
        </div>
        <!-- <Info /> -->
        <section id="form-section">
          <Form />
        </section>
        <hr class="divider faded" />
        
        <section id="about-section">
          <SectionCard title="sobre-o-evento.md" columns={2}>
            <div slot="left">
              <h1 class="editor-title"># Para quem é o evento?</h1>
              <h2 class="editor-subtitle">É para você que:</h2>
            </div>
            <div slot="right" class="about-section-topics">
              <ul>
                <li>Quer aprender TypeScript de verdade</li>
                <li>Busca melhorar as suas habilidades e se atualizar no mercado</li>
                <li>Já perdeu oportunidades por não ter os conhecimentos necessários</li>
                <li>Procura dar o próximo passo na sua carreira</li>
              </ul>
            </div>
          </SectionCard>
        </section>
        
        <hr class="divider faded" />
        
        <section id="author-section">
          <SectionCard title="sobre-lucas.md" columns={2} bottom>
            <div slot="left" class="avatar">
              <img src="/assets/avatar.png" alt="Lucas Santos" />
            </div>
            <div slot="right">
              <h1 class="editor-title"># Seu professor</h1>
              <h2 class="editor-subtitle">Lucas Santos</h2>
              <p>
                Lucas Santos é um educador e palestrante profissional, com mais de uma década atuando no mercado de
                desenvolvimento. Já ministrou mais de 150 palestras sobre tecnologia em diversos eventos nacionais e
                internacionais.
              </p>
              
              <!-- <p>
              Lucas foi a primeira pessoa do Brasil (e o primeiro brasileiro no mundo) a ser premiado com o título de
              TypeScript Champion pela Deno Foundation. Um prêmio somente concedido a quem desafia os limites do
              conhecimento com TypeScript!
              </p>
              
              <p>
              Com mais de 400 publicações técnicas sobre desenvolvimento de software para seu blog e outros sites
              desde 2015. Seus conteúdos já ensinaram e inspiraram mais de 1 milhão de pessoas ao redor do mundo.
              </p>
              
              <p>
              Premiado como especialista em JavaScript, Node.js e TypeScript pela Microsoft e Google com os prêmios
              Microsoft MVP e Google Developer Experts. Além de ter sido reconhecido pela comunidade DevOps como
              Docker Captain, atualmente um dos 2 únicos brasileiros a receber tal honraria, e o único a ter todos
              esses títulos ao mesmo tempo.
              </p> -->
            </div>
            <div slot="bottom">
              <div class="author-section-info">
                <span class="author-section-info-item"
                ><strong class="gradient-text">+400</strong> Publicações técnicas</span
                >
                <span class="author-section-info-divider"></span>
                <span class="author-section-info-item"
                ><strong class="gradient-text">+10</strong> Anos atuando no mercado</span
                >
                <span class="author-section-info-divider"></span>
                <span class="author-section-info-item"
                ><strong class="gradient-text">+1 Mi</strong> de pessoas impactadas</span
                >
              </div>
            </div>
          </SectionCard>
        </section>
        <section id="testimonials-section">
          <SectionCard title="nossos-alunos.md" columns={1} bottom>
            <div slot="left">
              <h1 class="editor-title"># Histórias motivadoras</h1>
              <h2 class="editor-subtitle">Alunos fazendo a diferença</h2>
            </div>
            <div slot="bottom">
              <Carousel
                id="testimonials-carousel"
                items={
                [
                { src: "/assets/testimonials/Bruno Noriller.webp" },
                { src: "/assets/testimonials/Gabriel.webp" },
                { src: "/assets/testimonials/Gustavo.webp" },
                { src: "/assets/testimonials/Lucas Magno.webp" },
                ]
              }/>
            </div>
          </SectionCard>
        </section>
        <section id="socialproof-section">
          <SectionCard title="todas-as-redes.md" columns={1} bottom>
            <div slot="left">
              <h1 class="editor-title"># Em todas as redes sociais</h1>
              <h2 class="editor-subtitle">Feedbacks recompensadores</h2>
            </div>
            <div slot="bottom">
              <Carousel 
              id="socialproof-carousel"
              items={
                [
                  { src: '/assets/testimonials/socialproof/Twitter - Bragamat.webp' },
                  { src: '/assets/testimonials/socialproof/Twitter - Jess.webp' },
                  { src: '/assets/testimonials/socialproof/Twitter - Marcos.webp' },
                  { src: '/assets/testimonials/socialproof/Bragamat.webp' },
                  { src: '/assets/testimonials/socialproof/Twitter - Igor.webp' },
                  { src: '/assets/testimonials/socialproof/Discord - z3rocall.webp' },
                  { src: '/assets/testimonials/socialproof/Twitter - Eduardo.webp' },
                  { src: '/assets/testimonials/socialproof/Feedback cansado.webp' },
                  { src: '/assets/testimonials/socialproof/Smaller proofs.webp' },
                ]
              }/>
            </div>
          </SectionCard>
        </section>
        
        <section id="endpage-cta-section">
          <a href="#hero-section">Quero participar!</a>
        </section>
        
        <Footer />
      </FancyBackground>
    </section>
  </main>
</Layout>

<style lang="scss">
  .gradient-text {
    background: var(--trade-essential-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  div.details {
    margin: 0 auto;
    width: 60%;
  }
  
  h1.editor-title {
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;
    font-size: 1.3em;
    background: var(--trade-essential-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  h2.editor-subtitle {
    font-weight: 700;
    line-height: 1;
    margin-top: 0.3em;
    font-size: 2em;
    color: #ddd;
  }
  #about-section {
    margin-top: 50px;
    margin-bottom: 20px;
    
    .about-section-topics {
      ul {
        list-style: none;
        padding: 0;
        
        li {
          margin: 24px 0;
          font-size: 0.9rem;
          color: rgba(255, 255, 255, 0.9);
          &::before {
            content: '☆'; //★
            margin-left: -20px;
            margin-right: 10px;
            background: var(--trade-essential-gradient);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
        
        @media(max-width: 562px) {
          padding-left: 20px;
        }
      }
    }
  }
  
  #author-section {
    margin-top: 30px;
    img {
      width: 100%;
      border-radius: 12px;
    }
    
    .author-section-info {
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;
      &-item {
        font-size: 1.2rem;
        strong {
          display: block;
          font-size: 3rem;
          margin-bottom: 4px;
        }
      }
      
      &-divider {
        width: 2px;
        height: 100px;
        background: linear-gradient(to bottom, transparent, gray, transparent);
        margin: 10px 20px;
      }
      
      @media(max-width: 768px) {
        &-item {
          font-size: 1rem;
          strong {
            font-size: 2rem;
          }
        }
        &-divider {
          height: 80px;
          margin: 10px 20px;
        } 
      }
      
      @media(max-width: 562px) {
        flex-direction: column;
        &-item {
          margin-bottom: 24px;
          strong {
            display: inline;
            margin-right: 9px;
          }
        }
        &-divider {
          display: none;
        } 
      }
    }
  }
  
  #endpage-cta-section {
    text-align: center;
    margin: 50px;
    a {
      font-size: 1.5rem;
      font-weight: 700;
      color: white;
      text-transform: uppercase;
      background: var(--trade-expert-gradient);
      padding: 1rem 2rem;
      border-radius: 12px;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      
      &:hover {
        background: var(--trade-intermediate-gradient);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        transform: scale(1.05);
        border-style: outset;
      }
      
      @media(max-width: 562px) {
        font-size: 1.2rem;
      }
    }
  }
  .divider {
    margin: 0 auto;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    flex: none;
    height: 1px;
    opacity: 0.3;
    z-index: 1;
    width: 70%;
  }
  
  .logo {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
  }
  
  #form-section {
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
    
    img {
      width: 50%;
      object-fit: cover;
      border-radius: 30% 70% 40% 50%;
    }
    h2 {
      margin: 0;
    }
  }
  
  h1.copy {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
    letter-spacing: -0.1rem;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
  }
  
  h2.sub-copy {
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 2em;
    max-width: 500px;
    
    @media (max-width: 768px) {
      padding: 0 20px;
    }
  }
  
  @media (max-width: 768px) {
    h1.copy {
      font-size: 2.5rem;
    }
  }
  
  @media (max-width: 500px) {
    h1.copy {
      font-size: 2rem;
    }
  }
</style>

<script>
  function resizeLogo() {
    const screenWidth = window.innerWidth;
    const element = document.getElementById('fts-logo')!;
    
    if(screenWidth < 562) {
      element.dataset.scale = '2x';
    } 
  }
  window.addEventListener('load', resizeLogo);
  window.addEventListener('resize', resizeLogo);
  
  
</script>