---
import Layout from '../layouts/Layout.astro'
import Countdown from '../components/Countdown.astro'
import FTSLogo from '../components/FTSLogo.astro'
import Form from '../components/Form.astro'
import FancyBackground from '../components/FancyBackground.astro'
import Info from '../components/Info.astro'
---

<Layout title="Formação TS">
  <main>
    <section id="hero-section">
      <FancyBackground>
        <div class="content">
          <div class="logo">
            <FTSLogo />
          </div>
          <p class="instructions font-subtitle-alt">A formação mais pica de TS com o melhor professor do mundo!</p>
          <hr class="faded" />
          <Countdown />
          <hr class="faded" />
        </div>
        <Info />
        <section id="form-section">
          <div>
            <h2>Inscreva-se</h2>
            <Form />
          </div>
          <img src="/assets/talk-2.jpg" alt="Lucas palestrando" />
        </section>
      </FancyBackground>
    </section>
  </main>
</Layout>

<style lang="scss">
  main {
    // background: var(--background-gradient);
  }

  .logo {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
  }

  .instructions {
    width: 100%;
    text-align: center;
  }

  .content {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  #hero-section {
    // background: var(--background-gradient);
  }

  #form-section {
    display: flex;

    img {
      width: 50%;
      object-fit: cover;
      border-radius: 30% 70% 40% 50%;
    }
    // background: var(--bg-dark-purple);
    padding: 20px;
    h2 {
      margin: 0;
    }
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

</style>
