---
import Layout from '../layouts/Layout.astro'
import Countdown from '../components/Countdown.astro'
import SectionCard from '../components/SectionCard.astro'
import Form from '../components/Form.astro'
---

<Layout title="Formação TypeScript">
  <main>
    <section id="hero-section">
      <div class="content">
        <h1 class="font-title">formação TS <span class="text-gradient">Typescript</span></h1>
        <p class="instructions font-subtitle-alt">A formação mais pica de TS com o melhor professor do mundo!</p>

        <Countdown />
      </div>
    </section>
    <section id="info-section" class="font-body">
      <SectionCard href="#" title="teste" body="teste">
        <h2>Conteúdo</h2>
        <p>
          A formação de TypeScript é um curso completo que vai te ensinar a dominar a linguagem de programação mais
          poderosa do mundo. Você vai aprender desde o básico até os conceitos mais avançados, com aulas práticas e
          exemplos reais.
        </p>
        <p>
          O curso é dividido em módulos, cada um com um tema específico. Você vai aprender sobre tipos, interfaces,
          generics, decorators, e muito mais. Além disso, você vai aprender a usar o TypeScript em projetos reais, com
          exemplos práticos e exercícios para fixar o conteúdo.
        </p>
      </SectionCard>
    </section>
    <section id="form-section">
      <h2>Inscreva-se</h2>
      <Form />
    </section>
    <!-- <Card
      href="https://docs.astro.build/"
      title="Documentation"
      body="Learn how Astro works and explore the official API docs."
      /> -->
  </main>
</Layout>

<style lang="scss">
  main {
    background: var(--background-gradient);
  }

  .content {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  #hero-section {
    background: var(--background-gradient);
  }

  #info-section {
    background: white;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  /* .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  } */
</style>
