---
import Layout from '../layouts/Layout.astro'
import Countdown from '../components/SmallCountdown.astro'
import FTSLogo from '../components/FTSLogo.astro'
import Form from '../components/Form.astro'
import FancyBackground from '../components/FancyBackground.astro'
import Info from '../components/Info.astro'
---

<Layout title="Evento - Formação TS">
  <main>
    <section id="hero-section">
      <FancyBackground>
        <div class="content">
          <div class="logo">
            <FTSLogo scale="2x" />
          </div>
          <h1 class="copy font-subtitle-alt">A formação mais pica de TS com o melhor professor do mundo!</h1>
          <h2 class="sub-copy">Um curso completo que vai te ensinar a usar a linguagem de programação mais foda do mundo</h2>
          <Countdown />
        </div>
        <!-- <Info /> -->
        <section id="form-section">
          <Form />
        </section>
      </FancyBackground>
    </section>
  </main>
</Layout>

<style lang="scss">
  main {
    // background: var(--background-gradient);
  }

  .content {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    background: linear-gradient(to right, transparent, black, transparent);
  }
  .logo {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
  }

  #form-section {
    display: flex;

    img {
      width: 50%;
      object-fit: cover;
      border-radius: 30% 70% 40% 50%;
    }
    // background: var(--bg-dark-purple);
    padding: 20px;
    h2 {
      margin: 0;
    }
  }

  h1.copy {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
    
    // TODO: test with and without this later :)  --- it makes a big difference, trust me 
    letter-spacing: -0.1rem;
  }

  h2.sub-copy {
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 2em;
    max-width: 500px;
  }

</style>
