---
import Layout from '../layouts/Layout.astro'
import Countdown from '../components/SmallCountdown.astro'
import FTSLogo from '../components/FTSLogo.astro'
import Form from '../components/Form.astro'
import FancyBackground from '../components/FancyBackground.astro'
import SectionCard from '../components/SectionCard.astro'
---

<Layout title="Evento - Formação TS">
  <main>
    <section id="hero-section">
      <FancyBackground>
        <div class="content">
          <div class="logo">
            <FTSLogo scale="4x" />
          </div>
          <h1 class="copy font-subtitle-alt">Seja mestre na tecnologia mais importante do momento!</h1>
          <h2 class="sub-copy">
            O treinamento que não vai apenas te ensinar profundamente <strong>TypeScript</strong>, mas também te
            preparar para os desafios reais do mercado.
          </h2>
          <h2 class="sub-copy">Garanta sua vaga antes que seja tarde!</h2>
          <Countdown />
        </div>
        <!-- <Info /> -->
        <section id="form-section">
          <Form />
        </section>
        <hr class="divider faded" />

        <section id="about-section">
          <SectionCard title="sobre-o-evento.md" columns={2}>
            <div slot="left">
              <h1 class="about-left-call">### Para quem é o evento?</h1>
              <h2 class="about-left-title"># É para você que:</h2>
            </div>
            <div slot="right">teste 2</div>
          </SectionCard>
        </section>

        <hr class="divider faded" />

        <section id="author-section">
          <SectionCard title="sobre-lucas.md" columns={2}>
            <div slot="left">
              <h1 class="about-left">Sobre mim</h1>
            </div>
            <div slot="right">
              <img src="/assets/avatar.png" alt="Lucas Santos" />
            </div>
          </SectionCard>
        </section>
      </FancyBackground>
    </section>
  </main>
</Layout>

<style lang="scss">
  #author-section {
    margin-top: 30px;
  }
  #about-section {
    margin-top: 50px;
    margin-bottom: 20px;

    h1.about-left-call {
      font-weight: 700;
      line-height: 1;
      margin-bottom: 0;
      font-size: 1.3em;
      background: var(--trade-essential-gradient);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    h2.about-left-title {
      font-weight: 700;
      line-height: 1;
      margin-top: 0.3em;
      margin-left: 0.8em;
      font-size: 2em;
      color: #ddd;
    }
  }
  .divider {
    margin: 0 auto;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    flex: none;
    height: 1px;
    opacity: 0.3;
    z-index: 1;
    width: 70%;
  }

  .content {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    background: linear-gradient(to right, transparent, black, transparent);
  }
  .logo {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
  }

  #form-section {
    display: flex;
    margin-bottom: 20px;

    img {
      width: 50%;
      object-fit: cover;
      border-radius: 30% 70% 40% 50%;
    }
    padding: 20px;
    h2 {
      margin: 0;
    }
  }

  h1.copy {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
    letter-spacing: -0.1rem;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
  }

  h2.sub-copy {
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 2em;
    max-width: 500px;
  }

  @media (max-width: 768px) {
    h1.copy {
      font-size: 2.5rem;
    }
  }

  @media (max-width: 500px) {
    h1.copy {
      font-size: 2rem;
    }
  }
</style>
