---
interface Props {
  id: string;
  items: { src: string }[];
}

const { id, items } = Astro.props;
---

<div class="carousel-container">
	<div id={id} class="glide">
		<div class="glide__track" data-glide-el="track">
			<ul class="glide__slides">
				{items.map(item => (
          <li class="glide__slide">
            <img src={item.src} />
          </li>
        ))}
			</ul>
		</div>
		<div class="glide__arrows" data-glide-el="controls">
			<button class="glide__arrow glide__arrow--left" data-glide-dir="<">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
			<button class="glide__arrow glide__arrow--right" data-glide-dir=">">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
		</div>
	</div>
	
</div>
<style lang="scss">

.carousel-container {
	display: flex;
  position: relative;
  width: 500px;

  @media(max-width: 480px) {
    width: 300px;
  }

  .glide__slides {
    img {
      width: 100%;
      // height: 400px;
      object-fit: fit;
    }
  }

  .glide__arrows {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);

    button {
      background: transparent;
      width: 150px;
      height: 300px;
      border: none;
      color: white;
      font-size: 2rem;
      padding: 1rem;
      cursor: pointer;
      transition: background 0.3s;
      &:hover {
        color: var(--accent-blue);
      }
    }

    .glide__arrow {
      display: flex;
      align-items: center;
      
      &--left {
        justify-content: flex-start;
        &:hover {
          background: radial-gradient(circle at left,rgb(0, 173, 202, 0.3), transparent 70%);
        }
      }
      &--right {
        justify-content: flex-end;
        &:hover {
          background: radial-gradient(circle at right, rgb(0, 173, 202, 0.3), transparent 70%);
        }
      }
    }

  }
}

</style>
<!-- <script src="node_modules/@glidejs/glide/dist/glide.min.js"></script> -->
<script>
	import Glide, { Controls, Autoplay } from '@glidejs/glide/dist/glide.modular.esm';
	// new Glide('#testimonials-carousel').mount();
	// new Glide('#socialproof-carousel').mount();
  new Glide('.glide', {
    type: 'carousel',  // Or 'slider' depending on your use case
    startAt: 0,        // Start at the first slide
    perView: 1,        // Number of slides to show per view
    autoplay: 5000,    // Autoplay interval in milliseconds (3000ms = 3 seconds)
    hoverpause: true   // Pause on hover
  }).mount({ Controls, Autoplay });

</script>
