<div id="countdown" class="countdown">
  <span id="days" class="countdown-item">
    <span class="label">dias</span>
    <span class="value">--</span></span
  >
  <span id="hours" class="countdown-item">
    <span class="label">horas</span>
    <span class="value">--</span></span
  >
  <span id="minutes" class="countdown-item">
    <span class="label">minutos</span>
    <span class="value">--</span></span
  >
  <span id="seconds" class="countdown-item">
    <span class="label">segundos</span>
    <span class="value">--</span></span
  >
</div>
<style lang="scss">
  .countdown {
    width: 95%;
    margin: auto;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-item {
      display: inline-flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      width: 25%;

      .label {
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0.5em;
      }

      .value {
        font-size: 6rem;
        font-weight: 700;
      }
    }
  }
</style>
<script>
  const targetDate = new Date(import.meta.env.PUBLIC_TARGET_DATE).getTime()

  let interval = setInterval(function () {
    const $ = document.querySelector.bind(document)

    const now = new Date().getTime()

    const distance = targetDate - now

    const days = Math.floor(distance / (1000 * 60 * 60 * 24))
    const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))
    const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60))
    const seconds = Math.floor((distance % (1000 * 60)) / 1000)

    $('#days .value')!.innerHTML = String(days)
    $('#hours .value')!.innerHTML = String(hours)
    $('#minutes .value')!.innerHTML = String(minutes)
    $('#seconds .value')!.innerHTML = String(seconds)

    if (distance < 0) {
      clearInterval(interval)
      $('#days .value')!.innerHTML = '0'
      $('#hours .value')!.innerHTML = '0'
      $('#minutes .value')!.innerHTML = '0'
      $('#seconds .value')!.innerHTML = '0'
    }
  }, 1000)
</script>
