<script is:inline src="https://send.hotmart.com/static/js/recaptcha.min.js"></script>
<form klicksend-form-id="PwuAB4G" method="post" action="https://handler.send.hotmart.com/subscription/PwuAB4G">
  <input type="email" autocomplete="off" name="email" id="email" placeholder="Email" value="" required />
  <input type="text" autocomplete="off" name="phone" id="phone" placeholder="Telefone" value="" />
  <div klicksend-gdpr-text class="gdpr-text">
    <p>
      <html>
        <body
          ><p class="disclaimer">
            Esses dados serão utilizados para entrarmos em contato com você e disponibilizarmos mais conteúdos e
            ofertas. Caso você não queira mais receber os nosso emails, cada email que você receber, incluirá ao final,
            um link que poderá ser usado para remover o seu email da nossa lista de distribuição.
          </p></body
        >
      </html>
    </p><p>
      Para mais informações, acesse a<a
        href="https://klickpages.com.br/politica-de-privacidade/"
        target="_blank"
        rel="noopener">política de privacidade</a
      >
    </p>
  </div>
  <button klicksend-form-submit-id="PwuAB4G" class="g-recaptcha">Enviar</button>
</form>

<style lang="scss">
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }

  .form-checkbox input {
    margin: 0 10px 0 0;
  }

  .form-checkbox label {
    font-size: 14px;
  }

  .gdpr-text {
    font-size: 14px;
    text-align: center;
  }

  .gdpr-text a {
    color: #000;
  }

  .g-recaptcha {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
</style>
