<script is:inline src="https://send.hotmart.com/static/js/recaptcha.min.js"></script>
<form klicksend-form-id="PwuAB4G" method="post" action="https://handler.send.hotmart.com/subscription/PwuAB4G">
  <div class="form-content">
    <!-- FIXME: why autocomplete off?? -->
    <input type="email" autocomplete="on" name="email" id="email" placeholder="Email" value="" required />
    <input type="text" autocomplete="on" name="phone" id="phone" placeholder="Telefone" value="" />
    <button klicksend-form-submit-id="PwuAB4G" class="g-recaptcha">Quero participar!</button>
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input type="text" name="b_PwuAB4G" tabindex="-1" value="" />
      <input
        type="checkbox"
        autocomplete="off"
        name="gdpr"
        id="gdpr"
        placeholder=""
        value="true"
        tabindex="-1"
        required
        checked
      />
    </div>
  </div>
  <div klicksend-gdpr-text class="form-disclaimer">
    Esses dados serão usados apenas para contato referente a conteúdo e ofertas da Formação TS. Cada email conterá um
    link para remoção da lista. Confira nossa
    <a href="https://klickpages.com.br/politica-de-privacidade/" target="_blank" rel="noopener"
      >política de privacidade
    </a>.
  </div>
</form>

<style lang="scss">
  form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    .form-content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin: 0 auto;
    }

    .form-disclaimer {
      font-size: 0.6rem;
      text-align: center;
      color: #aaa;
      margin-top: 8px;

      a {
        color: #ccc;
      }
    }

    input,
    button {
      box-sizing: border-box;
      width: 100%;
      padding: 12px;
      border-radius: 4px;
      letter-spacing: 0.1em;
      height: 48px;
      transition: all ease-in-out 0.2s;

      &:focus {
        transform: scale(1.05);
        border-radius: 4px;
      }
    }
    input {
      background: white;

      &::placeholder {
        text-transform: uppercase;
        color: #0b184a;
      }
    }

    button {
      cursor: pointer;
      color: white;
      text-transform: uppercase;
      background: var(--trade-intermediate-gradient);

      &:hover {
        background: var(--trade-essential-gradient);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        transform: scale(1.05);
      }
    }

    @media (max-width: 768px) {
      .form-content {
        flex-direction: column;
        max-width: 400px;
      }
      .form-disclaimer {
        margin-top: 16px;
      }
    }
  }
</style>
