<script is:inline src="https://send.hotmart.com/static/js/recaptcha.min.js"></script>
<form klicksend-form-id="PwuAB4G" method="post" action="https://handler.send.hotmart.com/subscription/PwuAB4G">
  <div class="form-content">
    <input type="email" autocomplete="off" name="email" id="email" placeholder="Email" value="" required />
    <input type="text" autocomplete="off" name="phone" id="phone" placeholder="Telefone" value="" />
    <button klicksend-form-submit-id="PwuAB4G" class="g-recaptcha">Entrar agora!</button>
  </div>
  <div klicksend-gdpr-text class="form-disclaimer">
    Esses dados serão usados apenas para contato referente a conteúdo e ofertas da Formação TS. Cada email conterá um link para remoção da lista. Confira a <a
    href="https://klickpages.com.br/politica-de-privacidade/"
    target="_blank"
    rel="noopener">política de privacidade</a
    >.
  </div>
  <!-- <div klicksend-gdpr-text class="gdpr-text">
    <p>
      <html>
      <body
      ><p class="disclaimer">
        Esses dados serão utilizados para entrarmos em contato com você e disponibilizarmos mais conteúdos e
        ofertas. Caso você não queira mais receber os nosso emails, cada email que você receber, incluirá ao final,
        um link que poderá ser usado para remover o seu email da nossa lista de distribuição.
      </p></body
      >
      </html>
    </p>
    <p>
      Para mais informações, acesse a<a
      href="https://klickpages.com.br/politica-de-privacidade/"
      target="_blank"
      rel="noopener">política de privacidade</a
      >
    </p>
  </div> -->

  
</form>

<style lang="scss">
  form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    
    .form-content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin: 0 auto;
    }

    .form-disclaimer {
      font-size: 0.8rem;
      margin-top: 8px;

      a {
        color: white;
      }
    }
    
    input, button {
      box-sizing: border-box;
      width: 100%;
      padding: 12px;
      border-radius: 4px;
      letter-spacing: 0.1em;
      height: 48px;
      transition: all ease-in-out 0.1s;
      
      &:focus {
        outline: 1px solid #006bfd;
        transform: scale(1.05);
      }
    }
    input {
      // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      background: white;
      
      &::placeholder {
        text-transform: uppercase;
        color: #0B184A;
      }
    }
    
    button {
      cursor: pointer;
      color: white;
      text-transform: uppercase;
      background: linear-gradient(to right, #00aac9, #006bfd);
      
      &:hover {
        background: linear-gradient(to right, #00aac9 30%, #006bfd);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        transform: scale(1.05);
      }
    }
  }
  
  
</style>
