<div class="logo">
  <div class="logo-background">
    <div class="logo-content">
      <span class="logo-content-slashes">//</span>
      <span class="logo-content-text">formação</span>
      <span class="logo-content-ts">TS</span>
    </div>
  </div>
</div>

<style lang="scss">
  .logo {
    --logo-background: #0b0b20;
    --background-gradient: linear-gradient(to bottom, #04a9cc, #0164fd);
    --slash-gradient: linear-gradient(to top, #00aac9, #008ce7);
    --ts-gradient: linear-gradient(to bottom, #00aac9 30%, #006bfd);
    display: inline-block;
    font-size: 4rem;

    &-background {
      background: var(--background-gradient);
      border-radius: 24px;
      padding: 4px;
    }

    &-content {
      border-radius: 24px;
      background: var(--logo-background);
      color: white;
      font-family: 'Red Hat Display', sans-serif;
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
      padding: 0 24px;

      &-slashes {
        background: var(--slash-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        overflow: show;
        padding-left: 6px;
        letter-spacing: 0.7rem;
      }

      &-text {
        text-transform: lowercase;
        font-weight: bold;
        letter-spacing: 0.3rem;
      }

      &-ts {
        text-transform: uppercase;
        background: var(--ts-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 900;
      }
    }
  }
</style>
