<section id="info-section" class="font-body">
  <div class="section-card">
    <div class="section-wrapper">
      <h2>Conteúdo</h2>
      <p>
        A formação de TypeScript é um curso completo que vai te ensinar a dominar a linguagem de programação mais
        poderosa do mundo. Você vai aprender desde o básico até os conceitos mais avançados, com aulas práticas e
        exemplos reais.
      </p>
      <p>
        O curso é dividido em módulos, cada um com um tema específico. Você vai aprender sobre tipos, interfaces,
        generics, decorators, e muito mais. Além disso, você vai aprender a usar o TypeScript em projetos reais, com
        exemplos práticos e exercícios para fixar o conteúdo.
      </p>
    </div>
  </div>
</section>

<style lang="scss">
  #info-section {
    color: white;
    padding: 20px;

    .section-card {
      max-width: 80%;
      padding: 1rem;
      position: relative;
      background: linear-gradient(160deg, rgb(122, 122, 122), black);
      padding: 2px;
      margin: auto;
      border-radius: 20px;

      .section-wrapper {
        background: linear-gradient(135deg, rgb(69, 69, 69), rgba(49, 49, 49, 1));
        color: white;
        padding: 2rem;
        border-radius: 20px;
      }
    }
  }
</style>
