<div id="countdown" class="countdown">
  <hr class="countdown-divider faded" />
  <span id="countdown-value" class="countdown-value"></span>
  <hr class="countdown-divider faded" />
</div>

<style lang="scss">
  .countdown {
    --ts-gradient: linear-gradient(to right, #00aac9 30%, #006bfd);

    width: 95%;
    margin: auto;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    &-divider {
      width: 60px;
      flex: none;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      opacity: 0.5;
      margin: 0;
    }

    &-value {
      text-transform: uppercase;
      background: var(--ts-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 900;
    }

    @media (max-width: 500px) {
      .countdown {
        gap: 0;
      }
      .countdown-value {
        font-size: 1rem;
      }
      .countdown-divider {
        width: 30px;
      }
    }
  }
</style>
<script>
  const targetDate = new Date(import.meta.env.PUBLIC_TARGET_DATE).getTime()

  let interval = setInterval(function () {
    const $ = document.querySelector.bind(document)

    const now = new Date().getTime()

    const distance = targetDate - now

    const days = Math.floor(distance / (1000 * 60 * 60 * 24))
    const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))
    const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60))
    const seconds = Math.floor((distance % (1000 * 60)) / 1000)

    const value = `${days} dias ${hours}h ${minutes}min ${seconds}seg`
    $('#countdown-value')!.innerHTML = String(value)

    if (distance < 0) {
      clearInterval(interval)
      $('#countdown-value')!.innerHTML = 'Já rolou!'
    }
  }, 1000)
</script>
