---
interface Props {
  title: string
}

const { title } = Astro.props
const currentYear = new Date().getFullYear()
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Inscreva-se no treinamento de TypeScript mais completo do Brasil" />
    <meta
      name="keywords"
      content="typescript, ts, programação, desenvolvimento, software, desenvolvimento de software, javascript, js, type script, java script, backend, frontend, back end, front end, fullstack"
    />
    <meta property="og:url" content="Participe da Formação TypeScript" />
    <meta property="og:image" content="/assets/logo-bg.png" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <span class="test"></span>
  </body>
  <footer>
    <div>
      <span
        >© {currentYear}
        <a target="_blank">Lucas Santos</a>. Todos os direitos reservados.
      </span>
      <ul>
        <li><a target="_blank">Sobre a Formação</a></li>
        <li><a target="_blank"></a></li>
        <li><a target="_blank"></a></li>
        <li><a target="_blank"></a></li>
        <li><a target="_blank"></a></li>
        <li><a target="_blank"></a></li>
      </ul>
    </div>
  </footer>
</html>
<style is:global lang="scss">
  @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

  :root {
    /* gradients */
    --trade-expert-gradient: linear-gradient(45deg, #fd5900, #c80000);
    --trade-intermediate-gradient: linear-gradient(45deg, #bc00c8, #5f00fd);
    --trade-essencial-gradient: linear-gradient(45deg, #00adca, #0066ff);

    /* LSantos branding */
    branding-green: #45bb8b;
    branding-blue: #197bc0;
    branding-red: #ed1c24;
    branding-yellow: #f6b21a;

    /* backgrounds */
    --background: #000020;
    --bg-dark-purple: #0a0020;
    --bg-mid-purple: #100523;
    --bg-purple: #180b2d;
    --bg-black: #000016;
    --background-gradient: linear-gradient(135deg, var(--bg-black) 80%, var(--accent-dark-blue));
    /* other */
    --accent-dark-blue: #006dfb;
    --accent-dark-purple: #6002fc;
    --accent-pink: #bb03c9;
    --accent-orange: #f85400;
    --accent-redish: #dd2900;
  }

  footer {
    background-color: rgba(var(--accent-dark-blue), 0.7);
    border-radius: 8px;
    padding-right: 40px;

    div {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      max-width: 95vw;
      padding: {
        top: 2px;
        bottom: 2px;
        left: 4px;
        right: 4px;
      }
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        font-size: 0.8rem;
        color: black;
        a {
          color: black;
          text-decoration: none;
          font-weight: bold;
        }
      }
    }

    ul {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      align-items: center;
      font-size: 0.9rem;
      color: black;
      li {
        margin: 0 8px;
        a {
          color: rgb(68, 68, 68);
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .font-subtitle-alt {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .font-body-alt {
    font-family: 'Lato', sans-serif;
  }

  .font-body {
    font-family: 'Ubuntu', sans-serif;
  }

  .font-subtitle {
    font-family: 'Quantico', sans-serif;
  }

  .font-mono {
    font-family: 'Inconsolata', monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
  }

  .font-title {
    font-family: 'Red Hat Display', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  html,
  body {
    font-family: 'Ubuntu', 'Lato', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
  }
</style>
